<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Measurement unit selection -->
  <ion-list>
    <ion-item>
      <ion-label>Measurement</ion-label>

      <ion-radio-group [(ngModel)]="measurement" (ionChange)="onMeasurementChange($event.detail.value ?? 'metric')">
        <ion-item lines="none">
          <ion-label>Metric</ion-label>
          <ion-radio slot="end" value="metric"></ion-radio>
        </ion-item>

        <ion-item lines="none">
          <ion-label>US</ion-label>
          <ion-radio slot="end" value="us"></ion-radio>
        </ion-item>
      </ion-radio-group>

    </ion-item>
  </ion-list>

</ion-content>