<ion-header>
  <ion-toolbar>
    <ion-title>Recipe Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-spinner *ngIf="loading"></ion-spinner>

  <ion-text color="danger" *ngIf="!loading && errorMsg">
    <p>{{ errorMsg }}</p>
  </ion-text>

  <ng-container *ngIf="!loading && recipe">
    <h2>{{ recipe.title }}</h2>

    <ion-button
      expand="block"
      (click)="toggleFavourite()"
      [disabled]="loading || !!errorMsg"
    >
      {{ isFav ? 'Remove from Favourites' : 'Add to Favourites' }}
    </ion-button>

    <img
      *ngIf="recipe.image"
      [src]="recipe.image"
      [alt]="recipe.title"
      style="width: 100%; border-radius: 12px;"
    />

    <h3 *ngIf="recipe.extendedIngredients?.length">Ingredients</h3>
    <ul *ngIf="recipe.extendedIngredients?.length">
      <li *ngFor="let ing of recipe.extendedIngredients">
        {{ ing.original }}
      </li>
    </ul>

    <h3 *ngIf="recipe.instructions">Instructions</h3>
    <div *ngIf="recipe.instructions" [innerHTML]="recipe.instructions"></div>
  </ng-container>
</ion-content>
