<ion-header>
  <ion-toolbar>
    <ion-title>G00438804</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/favourites">
        <ion-icon name="heart"></ion-icon>
      </ion-button>

      <ion-button routerLink="/settings">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Search input -->
  <ion-item>
    <ion-input
      label="Ingredients"
      labelPlacement="stacked"
      placeholder="e.g. chicken,tomato"
      [(ngModel)]="query"
    ></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="onSearch()">Search</ion-button>

  <!-- Quick nav -->
  <ion-button routerLink="/favourites" expand="block" fill="outline">
    Favourites
  </ion-button>
  <ion-button routerLink="/settings" expand="block" fill="outline">
    Settings
  </ion-button>

  <!-- Loading -->
  <div *ngIf="loading" style="margin-top: 16px; display: flex; gap: 12px; align-items: center;">
    <ion-spinner></ion-spinner>
    <ion-label>Searching…</ion-label>
  </div>

  <!-- Error / empty -->
  <ion-label *ngIf="!loading && errorMsg" style="display:block; margin-top: 16px;">
    {{ errorMsg }}
  </ion-label>

 <!-- Results -->
<div *ngIf="!loading && recipes.length > 0" style="margin-top: 12px;">
  <ion-card *ngFor="let r of recipes">
    <img [src]="r.image" alt="recipe image" />

    <ion-card-content>
      <ion-label>{{ r.title }}</ion-label>
    </ion-card-content>

    <ion-card-content>
      <ion-button [routerLink]="['/recipe-details', r.id]">
        DETAILS
      </ion-button>
    </ion-card-content>
  </ion-card>
</div>

</ion-content>
